$siderbarTextColor: #ffffff;
$siderbarActiveTextColor: rgba(255, 255, 255, 1);
$siderbarWidth: 180px;
$topbarHeight: 48px;
$mainBackgroundColor: #f0f2f5;
$topbarBackgroundColor: #ffffff;
$siderbarBackgroundColor: #02838d;
$mainColor: #02838d;

$cardBackgroundColor: #0277bd;
$cardTextColor: #ffffff;

// border的颜色
$borderColor: #e6ebf5;
$tableHeaderBgColor: #f5f7fa;

$textDarkColor: #000000 !important;
$textColor: #2d2f33 !important;
$textLightColor: #999999 !important;
