$borderColor: #e6e6e6;
$mainBgColor: #FFF;
$textColor: #303133;
$left: left;
$instance: 8px;
.margin16{
    margin: 16px;
}

.padding16{
    padding: $instance * 2 + 22px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.border-none{
    border: none !important;
}

.border-left{
    border-#{$left}: 1px solid $borderColor;
}
.border-right{
    border-right: 1px solid $borderColor;
}
.border-top{
    border-top: 1px solid $borderColor;
}
.border-bottom{
    border-bottom: 1px solid $borderColor;
}